/* You can add global styles to this file, and also import other style files */

h1, h2, h3, h4, h5 {
    font-weight: lighter;
}

.loader-placeholder {
    padding: 20rem 2rem;
}

/** Page loader **/
.page-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 15px solid rgba(180, 180, 180, .2);
    border-top: 15px solid black;
    animation: animate 1s infinite linear;
    z-index: 9999;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


/**Action loader **/
.actn-loader:before,
.actn-loader:after,
.actn-loader {
    border-radius: 50%;
    animation-fill-mode: both;
    animation: actn-loader 1.5s infinite ease-in-out;
}

.actn-loader {
    display: inline-block;
    width: 1em;
    height: 1em;
    color: inherit;
    vertical-align: middle;
    pointer-events: none;
    color: #fff;
    position: relative;
    transform: translateZ(0);
    animation-delay: -0.16s;
    top: -1em;
}

@keyframes actn-loader {
    0%,
    80%,
    100% {
        box-shadow: 0 1em 0 -1em;
    }
    40% {
        box-shadow: 0 1em 0 -.2em;
    }
}
