<div>
    <h2 class="m-3">Directory Users - ODIHR.ORG.UA</h2>

    <div *ngIf="users && units">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" *ngFor="let unit of units; let first = first">
                <a class="nav-link" id="{{ unit.name }}-tab" data-toggle="tab" href="#{{ unit.name }}" role="tab"
                   [attr.aria-controls]="unit.name"
                   aria-selected="false" [ngClass]="{'active': first}">{{ unit.description }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="other-tab" data-toggle="tab" href="#other" role="tab" aria-controls="other"
                   aria-selected="false">Other</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="{{ unit.name }}" role="tabpanel" [attr.aria-labelledby]="unit.name + '-tab'"
                 *ngFor="let unit of units; let first = first" [ngClass]="{'active show': first}">

                <!--  National Staff tab     -->
                <table class="table table-hover">
                    <tr>
                        <th width="30%">Email</th>
                        <th width="10%">Suspended</th>
                        <th width="10%">Archived</th>
                        <th width="10%">Terms</th>
                        <th width="10%">Global AddressList</th>
                        <th width="10%">Password change <br>at login</th>
                        <th width="20%">Actions</th>
                    </tr>

                    <tr *ngFor="let user of filterUser('/' + unit.name) ">
                        <td>
                            {{ user.primaryEmail }}
                            <span class="badge badge-primary" *ngIf="user.isAdmin === true">ADMIN</span>
                        </td>
                        <td class="small">
                            <p class="m-0">
                                {{ user.suspended }}
                            </p>
                        </td>
                        <td class="small">
                            <p class="m-0">
                                {{ user.archived }}
                            </p>
                        </td>
                        <td class="">
                            <p class="m-0">
                                <span class="badge badge-success" *ngIf="user.agreedToTerms">OK</span>
                                <span class="badge badge-danger" *ngIf="!user.agreedToTerms">no</span>
                            </p>
                        </td>
                        <td class="small">
                            <p class="m-0">
                                {{ user.includeInGlobalAddressList }}
                            </p>
                        </td>

                        <td class="small">
                            <p class="m-0"> {{ user.changePasswordAtNextLogin }}</p>
                        </td>
                        <td>
                            <button class="mr-2 btn btn-sm btn-outline-primary" type="button"
                                    [routerLink]="['/contacts']" [queryParams]="{userEmail: user.primaryEmail}">
                                Manage Contacts
                            </button>
                        </td>
                    </tr>
                </table>


            </div>
            <div class="tab-pane fade" id="other" role="tabpanel" aria-labelledby="other-tab">


                <!--  Other tab     -->
                <table class="table table-hover">
                    <tr>
                        <th width="30%">Email</th>
                        <th width="10%">Suspended</th>
                        <th width="10%">Archived</th>
                        <th width="10%">Terms</th>
                        <th width="10%">Global AddressList</th>
                        <th width="10%">Password change <br>at login</th>
                        <th width="20%">Actions</th>
                    </tr>

                    <tr *ngFor="let user of filterUser('/') ">
                        <td>
                            {{ user.primaryEmail }}
                            <span class="badge badge-primary" *ngIf="user.isAdmin === true">ADMIN</span>
                        </td>
                        <td class="small">
                            <p class="m-0">
                                {{ user.suspended }}
                            </p>
                        </td>
                        <td class="small">
                            <p class="m-0">
                                {{ user.archived }}
                            </p>
                        </td>
                        <td class="">
                            <p class="m-0">
                                <span class="badge badge-success" *ngIf="user.agreedToTerms">OK</span>
                                <span class="badge badge-danger" *ngIf="!user.agreedToTerms">no</span>
                            </p>
                        </td>
                        <td class="small">
                            <p class="m-0">
                                {{ user.includeInGlobalAddressList }}
                            </p>
                        </td>

                        <td class="small">
                            <p class="m-0"> {{ user.changePasswordAtNextLogin }}</p>
                        </td>
                        <td>
                            <button class="mr-2 btn btn-sm btn-outline-primary" type="button"
                                    [routerLink]="['/contacts']" [queryParams]="{userEmail: user.primaryEmail}">
                                Manage Contacts
                            </button>
                        </td>
                    </tr>
                </table>

            </div>
        </div>

    </div>
</div>

<div *ngIf="loading">
    <div class="loader-placeholder">
        <div class="row">
            <!-- loader -->
            <div class="page-loader"></div>
            <!-- /loader -->
        </div>
    </div>
</div>
